<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a href="https://github.com/vademirfvj" class="nav-link" target="_blank" routerLinkActive="active">Git Repositories</a>
    </li>
  </ul>
</nav>
<div class="container">
  <br>
  <h2 style="text-align: center;">{{title}}</h2>
  <hr>  
  <div class="card">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()">
        <div class="form-group row">
          <label class="col-sm-5 col-form-label" for="cep-input">Informar CEP: </label>
          <div class="col-sm-6">
            <input [(ngModel)]="cep" type="text" id="cep-input" name="cep-input" ngModel maxlength="8" class="form-control" placeholder="Somente número">
          </div>
        </div>

        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
        </div>
      </form>
    </div>
  </div>

  <br><br>

  <div class="card">
    <div class="card-header">
      <strong>Endereço </strong>
    </div>
    <div class="card-body">
      <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="text-input">Rua: </label>
          <div class="col-md-9">
            <input type="text" id="rua" name="rua" class="form-control" value="{{endereco.logradouro}}" disabled>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="text-input">Bairro: </label>
          <div class="col-md-9">
            <input type="text" id="bairro" name="bairro" class="form-control" value="{{endereco.bairro}}" disabled>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="text-input">Cidade: </label>
          <div class="col-md-9">
            <input type="text" id="cidade" name="cidade" class="form-control" value="{{endereco.localidade}}" disabled>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="text-input">Estado: </label>
          <div class="col-md-9">
            <input type="text" id="estado" name="estado" class="form-control" value="{{endereco.uf}}" disabled>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>

<br>

<footer class="footer">
  <div class="container">
    <span>Created by: <strong>Valdemir Ferreira</strong>. 2020</span>
  </div>
</footer>